<div ng-controller="DetailComponent as dec">
    <div class="repo-detail">
        <div class="row">
            <div class="columns small-12">
                <h1 class="alpha inline">[[dec.repo.name]]</h1>
                <div class="icon clickable inline margin-left">
                    <div dropdown-toggle="#dropdown-repo-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentcolor">
                            <path d="M14 0 H18 L19 6 L20.707 6.707 L26 3.293 L28.707 6 L25.293 11.293 L26 13 L32 14 V18 L26 19 L25.293 20.707 L28.707 26 L26 28.707 L20.707 25.293 L19 26 L18 32 L14 32 L13 26 L11.293 25.293 L6 28.707 L3.293 26 L6.707 20.707 L6 19 L0 18 L0 14 L6 13 L6.707 11.293 L3.293 6 L6 3.293 L11.293 6.707 L13 6 L14 0 z M16 10 A6 6 0 0 0 16 22 A6 6 0 0 0 16 10"></path>
                        </svg>
                        <ul id="dropdown-repo-menu" class="dropdown-menu tiny f-dropdown">
                            <li>
                                <a class="dropdown-menu-item" href="" ng-click="dec.deleteRepo()">Delete</a>
                            </li>
                            <li>
                                <a class="dropdown-menu-item" ng-click="dec.viewSite()">View Site</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns small-6">
                <a href="https://github.com/[[dec.repo.owner.name]]/[[dec.repo.name]]" target="_blank" class="link">
                    <img src="/img/github.png" alt="" class="login__icon">View on Github</a>
            </div>
            <div class="columns small-6">
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-show="dec.environmentsService.getNextEnv(dec.repo)" class="columns small-12 medium-4 large-4">
            <div class="environment">
                <div class="row">
                    <div class="columns small-12">
                        <h4 class="inline delta">[[dec.environmentsService.getNextEnv(dec.repo)]]</h4>
                        <img class="arrow float-right" src="/img/arrow.png" alt="">
                    </div>
                </div>
                <div class="environment-card environment-card--new">
                    <div class="environment-card__top">
                        <p class="copy">Improve your process flow by creating a new environment.</p>
                    </div>
                    <div class="environment-card__action">
                        <button ng-click="dec.newEnv()" class="button secondary-button secondary-button--small">Add Environment</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="environment in dec.repo.environments">
            <div class="columns small-12 medium-4 large-4">
                <div class="environment">
                    <div class="row">
                        <div class="columns small-12">
                            <h4 class="inline delta">[[environment.name]]</h4>
                            <img ng-show="$index < dec.repo.environments.length - 1" class="arrow float-right" src="/img/arrow.png" alt="">
                        </div>
                    </div>
                    <div class="environment-card">
                        <!-- <div dropdown-toggle="#dropdown-env-menu" ng-show="dec.environmentsService.getCurrentEnv(dec.repo) == environment.name && dec.repo.environments.length > 1" class="environment-card__menu alpha">...</div>
                        <ul id="dropdown-env-menu" class="dropdown-menu tiny f-dropdown">
                            <li>
                                <a class="dropdown-menu-item" href="" ng-click="dec.deleteEnv()">Delete</a>
                            </li>
                        </ul> -->
                        <div class="environment-card__top">
                            <!-- Menu -->
                            <!-- Status icon -->
                            <div ng-show="environment.status === 'success'" class="centered circle-icon circle-icon--small circle-icon--green">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentcolor">
                                    <path d="M1 14 L5 10 L13 18 L27 4 L31 8 L13 26 z"></path>
                                </svg>
                            </div>
                            <div ng-show="environment.status === 'registered'" class="centered circle-icon circle-icon--small circle-icon--blue">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentcolor">
                                    <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
                                </svg>
                            </div>
                            <div ng-show="environment.status === 'failed'" class="centered circle-icon circle-icon--small circle-icon--orange">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <rect x="43.379" y="81.822" width="13.179" height="13.178" />
                                    <polygon points="39.736,5 43.405,74.035 56.596,74.035 60.264,5 " />
                                </svg>
                            </div>
                            <div ng-show="environment.status === 'building'" class="centered spin circle-icon circle-icon--small circle-icon--yellow">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
                                    <g>
                                        <path d="M21.72,21.697c-1.786,1.786-4.164,2.77-6.697,2.77s-4.912-0.984-6.698-2.77c-3.694-3.693-3.694-9.703,0-13.396   c1.786-1.786,4.165-2.77,6.698-2.77c2.394,0,4.65,0.878,6.397,2.483l-3.018,3.02l11.575,1.721L28.256,1.18l-2.919,2.919   C22.543,1.452,18.896,0,15.023,0C11.01,0,7.241,1.559,4.411,4.389c-5.851,5.851-5.851,15.37,0,21.223   C7.241,28.44,11.01,30,15.023,30s7.781-1.56,10.611-4.389l0.293-0.294l-3.914-3.914L21.72,21.697z" />
                                        <circle cx="14.875" cy="15.146" r="3.248" />
                                    </g>
                                </svg>
                            </div>
                            <!-- TODO: left only one attr once api is refactored -->
                            <a href="https://github.com/[[dec.repo.owner.name]]/[[dec.repo.name]]/tree/[[environment.current_deploy.default_branch]]" target="_blank" class="beta">[[environment.default_branch.branch]]</a>
                            <a href="https://github.com/[[dec.repo.owner.name]]/[[dec.repo.name]]/tree/[[environment.current_deploy.branch]]" target="_blank" class="beta">[[environment.current_deploy.branch]]</a>
                            <!-- Message copy -->
                            <p ng-show="environment.status === 'registered'" class="description-copy">Ready</p>
                            <p ng-show="environment.status === 'failed'" class="description-copy">Error</p>
                            <p ng-show="environment.status === 'success'" class="description-copy">Deployed</p>
                            <p ng-show="environment.status === 'building'" class="description-copy">Deploying...</p>
                            <!-- Deploy type -->
                            <p ng-show="environment.deploy_type === 'branch'" class="copy">Auto Deploys</p>
                            <p ng-show="environment.deploy_type === 'promote'" class="copy">Promotion</p>
                        </div>
                        <!-- Action -->
                        <div ng-show="environment.deploy_type === 'branch' && environment.status === 'registered'" ng-click="dec.deployRepo($index)" class="environment-card__action">
                            <button class="button secondary-button secondary-button--small">Deploy [[environment.current_deploy.default_branch]] branch</button>
                        </div>
                        <div ng-show="environment.status === 'success' && $index < dec.repo.environments.length - 1" class="environment-card__action">
                            <button ng-click="dec.promoteRepo($index)" class="button secondary-button secondary-button--small">Promote</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
