<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>franklin-dashboard</title>
    <meta name="description" content="fFrontend interface into fFranklin API">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    {% block content %} 
    {% endblock %} 
    
    {% block javascripts %}
    <script src="/js/bundle.js"></script>
    {% endblock %}
</body>

</html>
