@import "settings";
.button {
    font-family: 'Lato', sans-serif;
    border-radius: 0.5em;
    &:hover {
        cursor: pointer;
    }
}

.button--fixed-corner {
    position: absolute;
    right: 0em;
    top: -0.5em;
    z-index: 100;
}

.primary-button {
    background-color: $franklin-meadow;
    color: $color-white;
    text-transform: uppercase;
    &:hover {
        box-shadow: 0px 3px 0px 0px $franklin-dark-meadow;
        background-color: $franklin-meadow;
        color: $color-white;
    }
    &:focus {
        background-color: $franklin-meadow;
        color: $color-white;
    }
}

.secondary-button {
    background-color: $color-white;
    border: 2px solid $franklin-soft-lavanda;
    color: $franklin-gray;
    text-transform: uppercase;
    &:hover, &:focus {
        box-shadow: 0px 3px 0px 0px $franklin-rosa-viejo;
        background-color: $color-white;
        border: 2px solid $franklin-soft-lavanda;
        color: $franklin-gray;
    }
}

.secondary-button--small {
    font-size: 0.416667em;
    letter-spacing: 0.1rem;
    padding: 0.58333rem 0.95833rem; //14px 23px desk
}

.secondary-button--large {
    background-color: $franklin-purpura;
    border: 1px solid $color-white;
    color: $color-white;
    font-size: 0.5em;
    letter-spacing: 0.175rem;
    padding: 0.625rem 1.125rem; //15px 27px desk
    &:hover,
    &:focus {
        box-shadow: 0px 3px 0px 0px $franklin-lavanda;
        background-color: $franklin-purpura;
        border: 1px solid $color-white;
        color: $color-white;
    }
}

.button__close {
    svg {
        width: 1em;
        fill: $franklin-softgray;
    }
}
