@import "settings";
// .dashboard {
//     width: 100%;
//     max-width: 100%;
// }
.nav {
    box-sizing: border-box;
    height: 4em;
    background-color: $franklin-turquoise;
    color: $white;
    border-bottom: 5px solid $franklin-petroleum;
    .nav--right-shadow {
        border-right: 1px solid #13a4ad;
    }
    .nav--left-shadow {
        border-left: 1px solid #3bd5df;
    }
}

.header {
    display: inline-flex;
}

.title {
    .alpha {
        line-height: 5.7rem;
        color: $white;
        font-size: 1.1em;
        text-shadow: 0px 1px 0px rgba(19, 164, 173, 0.35);
    }
}

.menu {
    ul {
        list-style-type: none;
    }
    .menu-item {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    .menu-item--active {
        &:after {
            content: '';
            display: block;
            background-color: $color-white;
            width: 100%;
            height: 2px;
            margin-top: 0.2em;
        }
    }
}

.user-info {
    height: 4em;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.greet {
    font-size: 0.55em;
    color: white;
    line-height: 6em;
    text-shadow: 0px 1px 0px rgba(19, 164, 173, 0.35);
}

.user-image {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: 2px solid #3bd5df;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
}

.content {
    background-color: $franklin-snow;
    height: calc(100% - 4em);
    min-height: calc(100vh - 4em);
    padding-top: 2em;
}

.user-menu {
    width: auto;
    padding-right: rem-calc(40);
    font-family: 'Lato', sans-serif;
    margin-top: 1em;
    li:hover {
        background-color: $color-white;
    }
    svg {
        width: 0.5em;
        height: 0.5em;
    }
    .user-menu-item {
        width: 6em;
        text-decoration: none;
    }
    .user-menu-item--disabled {
        color: $franklin-softgray;
    }
    &::after {
        left: 50%;
        transform: translateX(-50%);
    }
    &::before {
        left: 50%;
        transform: translateX(-50%);
    }
}

.repos__title {
    height: 3em;
    line-height: 3em;
}

.newrepo {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    line-height: 1.8em;
    background-color: $franklin-yellow;
    float: right;
    text-align: center;
    svg {
        width: 0.5em;
        transform: rotate(45deg);
        fill: $color-white;
    }
}


.dashboard--scrollable {
    display: block;
    max-height: 70vh;
    overflow-y: scroll;
    margin-top: 1em;
}

.dashboard__table {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    background-color: $white;
    border-collapse: collapse;
    font-family: 'Lato', sans-serif;
    &.expanded {
        th {
            line-height: 3.4em;
        }
    }
    thead > tr {
        border: 1px solid rgb(224, 224, 224);
        padding: 1em;
    }
    tbody > tr {
        border-bottom: 1px solid rgb(242, 242, 242);
    }
    tbody > tr:last-child {
        border-bottom: none;
    }
    th {
        font-size: 1rem;
        background-color: $white;
        text-align: left;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1.4em;
        color: $franklin-softgray;
    }
    td {
        font-size: 1rem;
        color: $franklin-softgray;
        background-color: $white;
        line-height: 3em;
        height: 3em;
    }
    a {
        color: $franklin-softgray;
        text-decoration: none;
    }
    .dashboard__table--large {
        width: 40%;
    }
    .dashboard__table--medium {
        width: 35%
    }
    .dashboard__table--small {
        width: 25%;
    }
}

.environment {
    border: 2px solid $franklin-applegreen;
    padding: 10px;
    text-align: center;
    border-radius: 0.5em;
    min-height: 15em;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 1em;
}

.environment__url {
    font-size: 1em;
    color: $franklin-purple;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

.environment__title {
    font-size: 1.1em;
    color: $franklin-purple;
    font-weight: bold;
    margin-bottom: 0em;
}

.environment__status {
    font-size: 0.8em;
    color: $franklin-applegreen;
    font-weight: bold;
    margin: 0;
}

.delete-repo {
    width: 2em;
    transform: translateZ(0);
    transition: 0.5s;
    fill: $franklin-purple;
    float: right;
}

.confirmation__message {
    color: $franklin-gray;
}
