@import "settings";
.dashboard {
    width: 100%;
    max-width: 100%;
}

.dashboard__nav {
    box-sizing: border-box;
    height: 4em;
    background-color: $franklin-turquoise;
    color: $white;
    border-bottom: 5px solid $franklin-petroleum;
    .dashboard__nav--right-shadow{
        border-right: 1px solid #13a4ad;
    }
    .dashboard__nav--left-shadow{
        border-left: 1px solid #3bd5df;
    }
}

.dashboard__header {
    display: inline-flex;
}

.dashboard__title {
    .alpha {
        line-height: 5rem;
        color: $white;
    }
}

.dashboard__menu {
    ul {
        list-style-type: none;
    }
    .dashboard__menu-item {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    .dashboard__menu-item--active {
        &:after {
            content: '';
            display: block;
            background-color: $color-white;
            width: 100%;
            height: 2px;
            margin-top: 0.2em;
        }
    }
}

.dashboard__user-info {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.dashboard__greet {
    color: white;
    line-height: 6em;
    font-size: 0.6em;
}

.dashboard__user-image {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    border: 2px solid #3bd5df;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
}

.dashboard__content {
    background-color: $franklin-snow;
    height: calc(100vh - 4em);
    padding-top: 2em;
}

.dashboard__user-menu {
    width: auto;
    padding-right: rem-calc(40);
    font-family: 'Lato', sans-serif;
    li:hover{
        background-color: $color-white;
    }
    svg {
        width: 0.5em;
        height: 0.5em;
    }
    .dashboard__user-menu-item {
        width: 6em;
        text-decoration: none;
    }
    .dashboard__user-menu-item--disabled {
        color: $franklin-softgray;
    }
    &::after{
        left: 116px;
    }
    &::before{
        left: 117px;
    }
}

.dashboard__newrepo {
    width: 2.5em;
    transform: translateZ(0);
    transition: 0.5s;
    fill: $franklin-purple;
    float: right;
}

.dashboard__loader {
    width: 2em;
    transform: translateZ(0);
    transition: 0.5s;
    float: right;
}

.dashboard__table {
    border: none;
    margin-bottom: 0px;
    width: 100%;
    background-color: $white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    thead {
        border-bottom: 2px solid $franklin-applegreen;
    }
    th {
        background-color: $white;
        color: $franklin-applegreen;
        font-weight: bold;
        font-size: 1em;
    }
    td {
        color: $charcoal;
        background-color: $white;
    }
    a {
        color: $charcoal;
        text-decoration: none;
    }
}

.environment {
    border: 2px solid $franklin-applegreen;
    padding: 10px;
    text-align: center;
    border-radius: 0.5em;
    min-height: 15em;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 1em;
}

.environment__url {
    font-size: 1em;
    color: $franklin-purple;
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

.environment__title {
    font-size: 1.1em;
    color: $franklin-purple;
    font-weight: bold;
    margin-bottom: 0em;
}

.environment__status {
    font-size: 0.8em;
    color: $franklin-applegreen;
    font-weight: bold;
    margin: 0;
}

.delete-repo {
    width: 2em;
    transform: translateZ(0);
    transition: 0.5s;
    fill: $franklin-purple;
    float: right;
}

.confirmation__message {
    color: $franklin-gray;
}
