@import "settings";

.login {
    height: 100vh;
    width: 100%;
    color: #CCC;
    text-align: center;
}

.login__button-area {
    height: 45vh;
    background-color: #FFF;
    padding-top: 5vh;
}

.login__title-area {
    background-color: $franklin-turquoise;
    height: 55vh;
    min-height: 12em;
    padding-top: 25vh;
    @media(min-width: $small-breakpoint) {
        margin-bottom: 0%;
        padding-top: 30vh;
    }
}

.login__icon{
    height: 1.75em;
    width: 1.75em;
}
