// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "../../node_modules/foundation/scss/foundation/variables";

// Foundation Components
@import
"../../node_modules/foundation/scss/foundation/components/global",
"../../node_modules/foundation/scss/foundation/components/grid",
"../../node_modules/foundation/scss/foundation/components/buttons",
"../../node_modules/foundation/scss/foundation/components/top-bar";

body {
	margin: 0;
}

.franklin--login--area{
	padding-top: 15%;
}

.franklin--login{
	height: 100vh;
	background: #1e5799; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #1e5799 0%, #89b56a 0%, #6fb240 40%, #5d8f3c 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%,#89b56a 0%,#6fb240 40%,#5d8f3c 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #1e5799 0%,#89b56a 0%,#6fb240 40%,#5d8f3c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#5d8f3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: 100%;
	color: #CCC;
	text-align: center;
}

.franklin--login--button a{
	background-color: #FFF;
	border-color: #FFF;
	border-style: none;
	color: #5D8F3C;
	font-size: 20px;
	border: 2px solid #FFF;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.franklin--login--button a:hover{
	cursor: pointer;
	background-color: #5D8F3C;
	color: #FFF;
}

.franklin--login--button a:focus{
	background-color: #FFF;
	border-color: #FFF;
	border-style: none;
	color: #5D8F3C;
	font-size: 20px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.franklin--login--logo{
	background-image: url('../img/franklin.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
	background-size: contain;
}

.franklin--login--title.row{
	margin-bottom: 5%;
}

.franklin--login--title span{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

@media(max-height:  400px){

	.franklin--login--title.row{
		margin-bottom: 0%;
	}

	.franklin--login--button a{
		font-size: 15px;
	}
}

@media(min-width: 768px){

	.franklin--login--area{
		padding-top: 5%;
	}
	.franklin--login--title span{
		font-size: 40px;
	}

	.franklin--login--button a{
		font-size: 20px;
	}
}

