@import "settings";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.25rem; //36px desk
    margin-bottom: 0.2em;
    margin-top: 0;
    letter-spacing: 5px;
    line-height: .75;
    color: $franklin-gray;
}

.alpha,
%alpha {
    @extend h1;
}

.alpha--wide {
    letter-spacing: 7.5px;
}

.jumbo,
%jumbo {
    @extend h1;
    color: $color-white;
    font-size: 1.66667em;
    line-height: 0.7em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    @media(min-width: 768px) {
        font-size: 3em;
    }
}

h2 {
    // heading of bottom section
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem; //18px desk;
    line-height: 1.4;
    margin-top: 0.5em;
    color: $franklin-gray;
    text-decoration: none;
    font-weight: bold;
}

.beta,
%beta {
    @extend h2;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; //16px desk;
    line-height: .75;
    margin-top: 0;
    margin-bottom: 1em;
    position: relative;
    color: $franklin-gray;
    font-weight: bold;
    text-transform: uppercase;
}

.gamma {
    @extend h3;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem; //12px desk
    line-height: .75;
    margin-top: 0;
    color: $franklin-softgray;
    text-transform: uppercase;
    font-weight: bold;
}

.delta {
    @extend h4;
}

.delta--active {
    color: $franklin-gray;
}

h5 {
    //blockquote attribution
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem; //18px desk;
    // line-height: 1.2;
    margin-top: 0;
}

.epsilon {
    @extend h5;
}

h6 {
    //link in bottom section
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.125rem; //18px desk;
    margin-bottom: 1.2em;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 0;
}

.zeta {
    @extend h6;
}

.header-link {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: 0px;
        left: -.15em;
        width: 100%;
        width: calc(100% + .3em);
        height: 2px;
        background: #ecd8ff;
        background: $franklin-soft-lavanda;
    }
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem; //12px desk
    color: $franklin-meadow;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 0.75rem; //12px desk
    color: $franklin-softgray;
}

.copy {
    @extend p;
}

.copy-large {
    @extend p;
    font-size: 0.875rem; //14px desk
}

.copy-jumbo {
    @extend p;
    font-size: 1.5rem; //24px desk
    color: $franklin-soft-lavanda;
}

.description-copy {
    @extend p;
    font-style: italic;
}

.description-copy--inactive {
    @extend .description-copy;
    color: $franklin-softgray;
}

.color-white {
    color: #FFF!important;
}
