@import "settings";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic);
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5em; //36px desk
    margin-bottom: 0.2em;
    margin-top: 0;
    letter-spacing: 5px;
    line-height: .75;
    color: $franklin-gray;
}

.alpha,
%alpha {
    @extend h1;
}

.alpha--wide {
    letter-spacing: 7.5px;
}

.jumbo,
%jumbo {
    @extend h1;
    font-family: 'Lato', sans-serif;
    color: $color-white;
    font-size: 1.66667em;
    line-height: 0.7em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    @media(min-width: 768px) {
        font-size: 3em;
    }
}

h2 {
    // heading of bottom section
    font-family: 'Lato', sans-serif;
    font-size: 0.75em; //18px desk;
    line-height: 1.4;
    margin-top: 0.5em;
    color: $franklin-gray;
    text-decoration: none;
}

.beta,
%beta {
    @extend h2;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 0.66667em; //16px desk;
    line-height: .75;
    margin-top: 0;
    margin-bottom: 1em;
    position: relative;
    color: $franklin-gray;
    font-weight: 700;
    text-transform: uppercase;
}

.gamma {
    @extend h3;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 0.5em; //12px desk
    line-height: .75;
    margin-top: 0;
    color: $franklin-softgray;
    text-transform: uppercase;
}

.delta {
    @extend h4;
}

.delta--active {
    color: $franklin-gray;
}

h5 {
    //blockquote attribution
    font-family: 'Lato', sans-serif;
    font-size: 0.75em; //18px desk;
    // line-height: 1.2;
    margin-top: 0;
}

.epsilon {
    @extend h5;
}

h6 {
    //link in bottom section
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.75em; //18px desk;
    margin-bottom: 1.2em;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-top: 0;
}

.zeta {
    @extend h6;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 0.5em; //12px desk
    color: $franklin-softgray;
}

.copy {
    @extend p;
}

.copy-large{
    @extend p;
    font-size: 0.58333em; //14px desk
}

.copy-jumbo{
    @extend p;
    font-size: 0.65em; //24px desk
    color: $franklin-gray;
}

.link{
     @extend .copy;
     color: $franklin-turquoise;
     text-decoration: none;
     cursor: pointer;
}

.description-copy {
    @extend p;
    font-style: italic;
}

.description-copy--inactive {
    @extend .description-copy;
    color: $franklin-softgray;
}

.color-white {
    color: #FFF!important;
}
