@import "settings";
.bg-applegreen {
    background-color: $franklin-applegreen;
}

.bg-purple {
    background-color: $franklin-purple;
}

.bg-gray {
    background-color: $franklin-gray;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.no-margin {
    margin: 0;
}

.no-side-margin {
    margin-left: 0;
    margin-right: 0;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.full-height {
    height: 100%;
}

.button__close {
    position: absolute;
    right: 2em;
    z-index: 100;
    svg {
        width: 2em;
        fill: $franklin-purple;
    }
}


/* Clearfix */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}
