@import "settings";

.uppercase{
    text-transform: uppercase;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.clickable {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.inline {
    display: inline-block;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.loader {
    float: right;
    width: 1.5em;
    height: 1.5em;
    fill: $franklin-yellow;
    &.loader--big {
        width: 2em;
        height: 2em;
    }
}

.spin {
    animation: spin 2s linear infinite;
    &.ng-hide {
        animation: spin 0s linear infinite;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.icon {
    svg {
        width: 1em;
        height: 1em;
        display: block;
        margin: auto;
    }
}

.circle-icon {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    position: relative;
    svg {
        width: 0.6em;
        fill: $color-white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%)translateY(-50%);
    }
    &.circle-icon--small {
        width: 0.7em;
        height: 0.7em;
        svg {
            width: 0.4em;
        }
    }
    &.circle-icon--big {
        width: 1.5em;
        height: 1.5em;
        svg {
            width: 0.8em;
        }
    }
    &.circle-icon--rotate {
        svg {
            transform: translateX(-50%)translateY(-50%)rotate(45deg);
        }
    }
}

.circle-icon--green {
    background-color: $franklin-applegreen;
}

.circle-icon--blue {
    background-color: $franklin-turquoise;
}

.circle-icon--orange {
    background-color: $franklin-orange;
}

.circle-icon--yellow {
    background-color: $franklin-yellow;
    &:hover {
        background-color: $franklin-corn;
    }
    &.circle-icon--no-hover:hover{
        background-color: $franklin-yellow;
    }
}


/* Clearfix */

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}
